<div class="grid-item">
  <div class="charity-post-card" style="">
    <div class="charity-post-card-header">
      <div class="charity-post-card-profile">
        <div class="charity-post-card-profile-avatar">
          <%= cl_image_tag charity.photo, crop: :fill, class: "charity-avatar-xtra-small" %>
        </div>
        <div class="charity-post-card-title">
          <p class="charity-post-card-name"><%= charity.name %></p>
          <p class="charity-post-card-category"><%= charity.category %></p>
        </div>
      </div>
    </div>
    <%= render 'post_preview', charity: @charity, post: @post %>
    <div id="new_post">
      <%= form_for ([@charity, @post]) do |f| %>
        <%= f.label :photo, 'Upload picture:' %>
        <%= f.file_field :photo, name: "post[photo]", class: "js-image-uploader" %>
        <%= f.submit "create post" %>
      <% end %>
    </div>
  </div>
</div>


<!--       <%= simple_form_for([@charity, @post]) do |f| %>
        <%= f.input :content, label: false, placeholder: "Create a post" %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "Create post", class: 'btn btn-primary' %>
      <% end %> -->
