<div class="grid">
  <!-- <div class="grid-sizer"></div> -->
  <%= render 'create_post', charity: @charity, post: @post %>
  <% @posts.each do |post| %>
    <div class="grid-item">
      <div class="charity-post-card" style="">
        <div class="charity-post-card-header">
          <div class="charity-post-card-profile">
            <div class="charity-post-card-profile-avatar">
              <%= cl_image_tag charity.photo, crop: :fill, class: "charity-avatar-xtra-small" %>
            </div>
            <div class="charity-post-card-title">
              <p class="charity-post-card-name"><%= charity.name %></p>
              <p class="charity-post-card-category"><%= charity.category %></p>
            </div>
          </div>
          <div class="charity-post-card-date">
              <p><%= post.created_at.to_date %></p>
          </div>
        </div>
        <div class="charity-post-card-picture">
          <p>This is a picture</p>
        </div>
        <div class="charity-post-card-description"><%= post.content %>
        </div>
        <div class="charity-post-card-action">
          <div class="charity-post-card-like">
            <i class="fas fa-heart charity-post-card-heart"></i>
            <p class="charity-post-card-like-number">1,500</p>
          </div>
<!--           <div class="pigeon-button-medium pigeon-button-blue">Donate</div>
          <div class="pigeon-button-medium pigeon-button-gray">Profile</div> -->
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- visit https://masonry.desandro.com/options.html -->


<!-- <h1>Masonry - columnWidth</h1>

<div class="grid">
  <div class="grid-item"></div>
  <div class="grid-item grid-item--width2 grid-item--height2"></div>
  <div class="grid-item grid-item--height3"></div>
  <div class="grid-item grid-item--height2"></div>
  <div class="grid-item grid-item--width3"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item grid-item--height2"></div>
  <div class="grid-item grid-item--width2 grid-item--height3"></div>
  <div class="grid-item"></div>
  <div class="grid-item grid-item--height2"></div>
  <div class="grid-item"></div>
  <div class="grid-item grid-item--width2 grid-item--height2"></div>
  <div class="grid-item grid-item--width2"></div>
  <div class="grid-item"></div>
  <div class="grid-item grid-item--height2"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item grid-item--height3"></div>
  <div class="grid-item grid-item--height2"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item grid-item--height2"></div>
</div>
 -->
