  <div class="search-input-container">
    <div class="search-input">This is gonna be a search div</div>
  </div>
  <div class="filter-item-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="filter-item">NGO/charity</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="filter-item">Type</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="filter-item">Geography</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="filter-item">Filter</div>
      </div>
    </div>
  </div>

  <h3>NGOs & charities overview</h3>

  <div class="card-container">
    <div class="row">
      <% @charities.each do |charity| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="charity-profile-card">
            <div class="charity-profile-card-header">
              <div class="charity-profile-card-profile">
                <%= link_to charity_path(charity) do %>
                  <%= cl_image_tag charity.photo, crop: :fill, class: "charity-avatar-small" %>
                <% end %>
                <div class="charity-profile-card-title">
                  <h5 class="charity-profile-card-name"><%= charity.name %></h5>
                  <p class="charity-profile-card-category"><%= charity.category %></p>
                </div>
              </div>
              <div>
                <div class="charity-profile-card-followers">
                  <i class="fas fa-dove"></i>
                  <p class="charity-profile-card-followers-display">1,500</p>
                </div>
              </div>
            </div>
            <div>
              <div class="charity-profile-card-description block-with-text"><%= charity.description %></div>
            </div>
            <div class="charity-profile-card-action">
              <div class="pigeon-button-medium pigeon-button-blue">Donate</div>
              <%= link_to charity_path(charity) do %>
                <div class="pigeon-button-medium pigeon-button-gray">Profile</div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

